<section class="card">
  <div class="card content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">Sign Up</p>
      </div>
    </div>
    <div class="content">
      <form id="signup-form">
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input id="username-input" class="input" type="text" placeholder="Username" name="username" />
          </div>

        </div>
        <div class="field">
          <label class="label">Email</label>
          <div class="control">
            <input id="email-input" class="input" type="email" placeholder="Email" name="email" />
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input id="password-input" class="input" type="password" placeholder="Password" name="password" />
          </div>
        </div>

        <div class="field">
          <div class="control">
            <button id="signup-button" class="button is-link">Sign Up</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<script src="/js/signup.js"></script>